<a href="https://colab.research.google.com/github/Chi68P1/Code/blob/main/BT2_AI(repaired).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
value1 = input('Nhập giá trị thứ 1:')
value2 = input('Nhập giá trị thứ 2:')
value1 = int(value1)
value2 = int(value2)
value1 + value2

Nhập giá trị thứ 1:5
Nhập giá trị thứ 2:7

12

In [1]:
with open('text.txt', mode = 'w') as account:
  account.write('201461 Nguyen Van A\n')
  account.write('201462 Nguyen Van B\n')
  account.write('201463 Nguyen Van C\n')

In [2]:
with open('text1.txt', mode = 'w') as account:
  print('201461 Nguyen Van A', file = account)
  print('201462 Nguyen Van B', file = account)
  print('201463 Nguyen Van C', file = account)

In [ ]:
with open('text.txt', mode = 'r') as account:
  print(f"{'MSSV':<5}{'Name':<5}{'Score':>2}")
  for record in account:
    MSSV, Name, Score = record.split()
    print(f"{MSSV:<5}{Name:<5}{Score:>2}")

In [52]:
import pandas as pd
url = 'data2.csv'
dataframe = pd.read_csv(url)

dataframe.groupby('Khoa')['MSSV'].count()

Khoa
CKM     5
CLC     4
CNTP    4
CNTT    4
DDT     4
Name: MSSV, dtype: int64

In [ ]:
import pandas as pd
url = 'data2.csv'
dataframe = pd.read_csv(url)

#hiển thị sheet
dataframe

# hiển thị 21 dòng 
dataframe.head(21)

# hiển thị hàng 0 đến hàng 10
dataframe.iloc[0:10]

#Trong cột Ho va ten in ra tất cả thông tin liên qua đến "A"
dataframe = dataframe.set_index(dataframe['Ho va ten'])
dataframe.loc['A']

dataframe[dataframe['Khoa']=='CNTT'].head(20) # in ra các hàng có chứa "CNTT"

dataframe[(dataframe['Khoa']=='CNTT') & (dataframe['Diem']>=5)] # in ra các hàng có chứa "CNTT" và "Diem">=5

dataframe['Khoa'].replace('CKM','Cơ khí máy').head(20) # thay tên CKM thành Cơ khí máy trong cột "Khoa"

print('Diem cao nhat',dataframe['Diem'].max()) # avr() min() count() in giá trị điểm cao nhất

dataframe['Khoa'].unique() # biến này là 1 mảng chứa các giá trị lặp lại trong cột "Khoa"

dataframe['Khoa'].value_counts() # in ra số lần lặp lại của các giá trị trong cột 'Khoa"

dataframe.drop('MSSV', axis = 1) # xóa cột MSSV 

dataframe.drop(['MSSV','Khoa'], axis = 1) # xóa cột MSSV, Khoa

dataframe.drop(dataframe.columns[2:5], axis = 1) # xóa cột 3 4 5

dataframe[dataframe['Khoa']!='CKM'] # xóa hàng có chứa "CKM"

dataframe[dataframe.index!=4] # xóa hàng thứ 4+1

dataframe.drop_duplicates() # Trả lại DataFrame với các hàng trùng lặp đã bị xóa

dataframe.groupby('Khoa').count() # chia nhóm dựa theo các giá trị trong cột "Khoa"

dataframe.groupby(['Khoa','Diem']).count()# chia nhóm ưu tiên dựa theo các giá trị trong cột "Khoa" rồi đến cột "Diem"

dataframe.groupby('Khoa')['Diem'].count() # chia nhóm dựa theo các giá trị trong cột "Khoa" , hiển thị cột "Diem"

In [55]:

import pandas as pd
import numpy as np
time_index = pd.date_range('01/01/2023',periods = 100000,freq = '30s')
dataframe = pd.DataFrame(index = time_index)
dataframe['Acess.Amount'] = np.random.randint(1,10,100000)
dataframe.resample('2W').sum() # W lấy theo tuần, M lấy theo tháng

            Acess.Amount
2023-01-01         14421
2023-01-15        202277
2023-01-29        201707
2023-02-12         82410

In [65]:

import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)

# tìm tổng số huy chương vàng, bạc, đồng của USA
data = data.set_index(data['NOC'])
data1 = data.loc['USA']
data1['Medal'].value_counts()

Silver    80
Gold      78
Bronze    58
Name: Medal, dtype: int64

In [62]:

import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)

# Tìm số huy chương vàng ở phần thi cá nhân của USA

gold = data[(data['Medal']=='Gold') & (data['NOC']=='USA')]

gold['Sport'].value_counts()

Skating       45
Skiing        21
Bobsleigh      9
Ice Hockey     3
Name: Sport, dtype: int64