<a href="https://colab.research.google.com/github/Chi68P1/Code/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
value1 = input('Nhập giá trị thứ 1:')
value2 = input('Nhập giá trị thứ 2:')
value1 = int(value1)
value2 = int(value2)
value1 + value2

Nhập giá trị thứ 1:7
Nhập giá trị thứ 2:3

10

In [10]:
with open('text.txt', mode = 'w') as account:
  account.write('201461 Nguyen Van A\n')
  account.write('201462 Nguyen Van B\n')
  account.write('201463 Nguyen Van C\n')

In [17]:
with open('text1.txt', mode = 'w') as account:
  print('201461 Nguyen Van A', file = account)
  print('201462 Nguyen Van B', file = account)
  print('201463 Nguyen Van C', file = account)

In [ ]:
with open('text.txt', mode = 'r') as account:
  print(f"{'MSSV':<10}{'Name':<20}{'Score':>2}")
  for record in account:
    MSSV, Name, Score = record.split()
    print(f"{MSSV:<10}{Name:<20}{Score:>2}")

In [ ]:
import pandas as pd
url = 'data2.csv'
dataframe = pd.read_csv(url)
# hiển thị 21 dòng 
dataframe.head(21)

# hiển thị 10 dòng 
dataframe.iloc[0:10]

#lọc A trong cột Ho va ten
dataframe = dataframe.set_index(dataframe['Ho va ten'])
dataframe.loc['A']

dataframe[dataframe['Khoa']=='CNTT'].head(20) # lọc khoa
dataframe[(dataframe['Khoa']=='CNTT') & (dataframe['Diem']>=5)] # lọc khoa và điểm
dataframe['Khoa'].replace('CKM','Cơ khí máy').head(20) # thay tên CKM thành Cơ khí máy

print('Diem cao nhat',dataframe['Diem'].max()) # avr() min() count() giá trị điểm cao nhất

dataframe['Khoa'].unique() # liệt kê các giá trị trong Khoa

dataframe['Khoa'].value_counts()

dataframe.drop('MSSV', axis = 1).head(10) # xóa cột MSSV

dataframe.drop(['MSSV','Khoa'], axis = 1).head(10) # xóa cột MSSV, Khoa

dataframe.drop(dataframe.columns[2:5], axis = 1).head(10) # xóa cột 3 4 5

dataframe[dataframe['Khoa']!='CKM'].head(10) # xóa hàng có CKM

dataframe[dataframe.index!=4].head(10)

dataframe.drop_duplicates().head(10)

dataframe.groupby('Khoa').count()

dataframe.groupby(['Khoa','Diem']).count()

dataframe.groupby('Khoa')['Diem'].count()

In [ ]:
import pandas as pd
import numpy as np
time_index = pd.date_range('01/01/2023',periods = 100000,freq = '30s')
dataframe = pd.DataFrame(index = time_index)
dataframe['Acess.Amount'] = np.random.randint(1,10,100000)
dataframe.resample('2W').sum() # W lấy theo tuần, M lấy theo tháng

In [137]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)

# tìm tổng số huy chương vàng, bạc, đồng của USA
data = data.set_index(data['NOC'])
data.loc['USA']
data['Medal'].value_counts()

Gold      774
Silver    773
Bronze    764
Name: Medal, dtype: int64

In [140]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)

data.groupby(['NOC','Sport']).count()
# tìm số huy chương vàng theo môn thi cá nhân của USA

               Year  City  Discipline  Event  Event gender  Medal
NOC Sport
AUS Skating       2     2           2      2             2      2
    Skiing        4     4           4      4             4      4
AUT Biathlon      1     1           1      1             1      1
    Bobsleigh     4     4           4      4             4      4
    Luge         16    16          16     16            16     16
...             ...   ...         ...    ...           ...    ...
USA Luge          4     4           4      4             4      4
    Skating     118   118         118    118           118    118
    Skiing       57    57          57     57            57     57
UZB Skiing        1     1           1      1             1      1
YUG Skiing        4     4           4      4             4      4

[130 rows x 6 columns]